.message {
    height: 1em;
    overflow: hidden;
    cursor: pointer;
    
}

.count{
	font-size: 16px;
	padding-bottom: 5px;
}

.date{
	
	padding-top: 10px;
	padding-bottom: 5px;

}

.from{
	padding-bottom: 5px;
}

.title{
	padding-bottom: 5px;
}

.inner{
	border: 5px solid black;
}

body{
	background-color: #edf3fc;
	font-family: arial;
}




